body {
  background-image: url("https://www.photohdx.com/images/2016/10/vintage-emerald-green-light-background-texture.jpg");
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
h1 {
  text-align: center;
  font-family: "garamond";
  color:#222424;
  font-weight: bold;
}
#container0{
  background-color: #C4CECF  ;
  width:80%;
  text-align: center;
  margin: auto;
}
#container1{
  background-color: #DAF8FB;
  width:80%;
  text-align: center;
  margin: auto;
}
#container2{
  background-color: #C4CECF  ;
  width:80%;
  text-align: center;
  margin: auto;
}
#container3{
  background-color: #DAF8FB;
  width:80%;
  text-align: center;
  margin: auto;
}
h2 {
  font: 400 24px/1.2 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
}
h3 {
  font: 400 22px/1.3 'Berkshire Swash', Helvetica, sans-serif;
  color: #2b2b2b;
}
p{
  font: 400 20px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
}
.rating {
  height:30px;width:30px;
}
footer {
  font-weight: bold
}
