body {
background-image: url("https://i.pinimg.com/originals/fd/3a/97/fd3a975d9760fd8008dfe34a788c3e0f.jpg")
}
h1 {
  text-align: center;
  font-family: "garamond";
  color:#AC2424;
  font-weight: bold;
}
#attempt{
  background-color: #ffffe6;
  width:80%;
  text-align: center;
  margin: auto;
}
h2 {
  font-family: "garamond";
  color:tomato;
  font-weight: bold;
}
h3 {
  font-family: "garamond";
  color:#665B5B;
  font-weight: bold;
}
p {
  font-family: "garamond";
  color:black;
  font-size: 18px;
  font-weight: bold;
}
